.header1 {
    /*background-color: black;*/
    background-color: rgba(0, 0, 0, 0);
    /*opacity: 0.4;*/
    /*Opacity end*/
    color: rgb(253, 253, 253);
    position: relative;
    bottom: 620px;
   
}
.gap{
	margin-left: 12px;
}
.logo{
    font-size: 20px;
}
.btn{
    color: white;
    background-color: brown;
}