<!--display the all details to the user-->
<app-navbar></app-navbar>
<div class="parent1">
  <span class="heading">Account Details</span>
  <div class="child">
    <div>
      <span>FULL NAME :</span>&nbsp;&nbsp;
      <span>{{ firstName }} {{ lastName }}</span>
    </div>
    <br />
    <div>
      <span>ACCOUNT NUMBER :</span>&nbsp;&nbsp;
      <span>{{ accountNumber }}</span>
    </div>
    <br />
    <div>
      <span>HOME BRANCH:</span>&nbsp;&nbsp;
      <span>{{ homeBranch }}</span>
    </div>
    <br />
    <div>
      <span>TYPE OF ACCOUNT :</span>&nbsp;&nbsp;
      <span>{{ typeOfAaccount }}</span>
    </div>
    <br />
    <div>
      <span>PHONE NUMBER :</span>&nbsp;&nbsp; <span>{{ phoneNumber }}</span>
    </div>
    <br />
    <div>
      <span>DATE OF OPENING ACCOUNT :</span>&nbsp;&nbsp;
      <span>{{ dateOfOpening }}</span>
    </div>
    <br />
    <div>
      <span>DOB :</span>&nbsp;&nbsp; <span>{{ dOB }}</span>
    </div>
    <br />
  </div>
</div>
