<!<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<nav class=" header1 bg-dark ">
  <div class="nav-wrapper" style="border:none;"> 
    <span class="logo">w<a href="#!" class="brand-logo left"><i class="material-icons">language</i></a>&nbsp;&nbsp;&nbsp;&nbsp;rldBank</span>
    <ul id="nav-mobile"  class="right gap">
      <li class="medium gap"><a routerLink="/admin-addNewUser" class="nav-item nav-link">ADD NEW USER</a></li>
      <li class="medium gap"><a routerLink="/admin-getAllUserser" class="nav-item nav-link">Get ALL USERS</a></li>
      <li class="medium gap"><a  routerLink="/admin-help-desk"class="nav-item nav-link">HELP DESK</a></li>
      <li class="medium gap"><a
        class="btn "
        (click)="logoutUser()"
        >Logout</a
      ></li>
    </ul>
  </div>
</nav>
<!--<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a routerLink="home" class="nav-item nav-link active" style="color: white"
    ><i class="fas fa-home fa-lg"></i
  ></a>

  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ml-auto">
      <a routerLink="/admin-addNewUser" class="nav-item nav-link">ADD NEW USER</a>
      <a routerLink="/admin-getAllUserser" class="nav-item nav-link">Get ALL USERS</a>
      <a  routerLink="/admin-help-desk"class="nav-item nav-link">Help Desk</a>
      <a
        class="navbar-brand btn btn-danger"
        (click)="logoutUser()"
        >Logout</a
      >
      </div>
      </div>
      </nav>-->
